/* Nav display*/
#nav{
    display: flex;
    justify-content:space-between;
    font-size: 1.6vw;
    margin: 10px;
}


/* header display */
header {
    display: flexbox;


}

header #Title1 {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header #Title2{
    display:none;
    align-items: center;
    justify-content: center;
}

header #Title3{
    display:none;
    align-items: center;
    justify-content: center;
}

header #Title4{
    display:none;
    align-items: center;
    justify-content: center;
}

/* welcome page  */
.intro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.intro p{
    padding: 10px;
}

.intro button{
    padding: 25px;
    margin: 50px;
    font-size: 2rem;
}


/* quiz page */
.quiz{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 2vw;
}

.quiz-item1, .quiz-item2, .quiz-item3, .quiz-item4 {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.quiz h2, h3, button {
    padding: 10px;
}

.quiz h2 {
    text-align: center;
}

.choice-container:hover{
    background-color: var(--highlight-color);
    color: var(--dark-color);
}

.choice-container {
    display: flex;
    margin: 25px;
    width:100%;
    border: 5px solid;
    border-radius: 50px;
    background-color: var(--dark-color);
    color: var(--background-color);
}

.choice{
    width: 100%;
    padding: 5px;
    text-align: center;
}

/* changes to answer buttons */
.correct{
    border: 5px solid;
    border-radius: 50px;
    background-color: var(--right-color);
    color: var(--background-color);
}

.incorrect{
    border: 5px solid;
    border-radius: 50px;
    background-color: #f25757;
    /* color: var(--background-color); */
}


/* results page */
/* show results form - FIXME: is this chunk necessary?
#results{
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */

/*FIXME: confirm if this section is needed or the id results.  html 55 */
.results {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 2vw;
    margin: 10px;
} 

form{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.2rem;
}

#label, #player, #submit{
    padding: 20px;
    margin: 10px;

}

#submit{
    color: var(--background-color);
}

#submit:hover{
    color: var(----dark-color);
}


/* highscore page */
.highscore-page{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 2vw;
}



/* footer css */
footer img{
    padding: 5px;
    width: 4.5rem;
} 
footer img:hover{
    padding: 10px;
    width: 4.5rem;
}