:root {
    --background-color: #f9f5ff ;
    --highlight-color: #a7bdf7;
    --dark-color: #0d324d;
    --light-color: #2c6e49;


}

html {
    scroll-behavior: smooth;   
}

h1{
    font-size: 6vw;
    
}


body {
    background-color: var(--background-color);
    color: var(--dark-color);
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    width: 100%;
}

header {
    background-color: var(--dark-color);
    color: var(--background-color);
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0px;
    padding: 20px 0px;
    width: 100vw
}

