:root{
    background-color: #f9f5ff ;
    highlight-color: #a7bdf7;
    dark-color: #0d324d;
    light-color: #2c6e49;
    big-margin: 50px;
    med-margin: 20px;
    small-margin: 10px;


}

html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(background-color);
    color: var(dark-color);
    font-size: 16px;
    line-height: 1.5;
    margin: var(big-margin);
    padding: 0;
    width: 100%;
  }