/* initial design of quiz separated highscores into independant html, js and css files. */

/* .highscores{
display: flex;
justify-content: center;
align-items: center;
}

.table table {

    width: 50vw;
}


.table table,th, td{
    border: 1px solid var(--highlight-color);
    font-size: 1.2rem;
    border-collapse: collapse;
    align-items: center;
    text-align: center;
}

/* highscores again button */
/* .again{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 30px;
}

.again p{
    padding: 10px;
}

.again button{

    padding: 25px;
    margin: 10px;
}

.better-luck{
    display: flex;
    flex-direction: column;
    
} */